{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ page.title }}
{% endblock htmltitle %}

{% block title %}
    {{ page.title }}
    {% if page.extra.lang_links or page.extra.multilingual %}
    <div class="lang-links">
        {% if page.extra.lang_links %}
            {% for link in page.extra.lang_links %}
                {% set link_text = link.text | default(value=trans(key="lang_" ~ link.code, lang=lang)) %}
                {% set link_path = link.path | default(value="/" ~ link.code ~ "/" ~ page.slug ~ "/") %}
                {% if link.code == "en" %}
                {% set link_path = link.path | default(value="/" ~ page.slug ~ "/") %}
                {% endif %}
                {% if link.code == "en" %}
                {% set link_path = link.path | default(value="/" ~ page.slug ~ "/") %}
                {% endif %}
                <a href="{{ link_path }}">{{ link_text }}</a><span class="lang-sep"> | </span>
            {% endfor %}
        {% else %}
            {% set all_langs = ["en", "cn", "ja"] %}
            {% for l in all_langs %}
                {% if l != lang %}
                <a href="{% if l == "en" %}/{% else %}/{{ l }}/{% endif %}{{ page.slug }}/">{{ trans(key="lang_" ~ l, lang=lang) }}</a><span class="lang-sep"> | </span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
{% endblock title %}

{% block content %}
    {% if not page.extra.no_header %}
        {% if page.date %}
            {{ macros::format_date(date=page.date) }}
        {% endif %}
        {% if config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if page.date %}
                &#183; {{ page.word_count }} words
            {% else %}
                {{ page.word_count }} words
            {% endif %}
        {% endif %}
        {% if config.extra.show_reading_time and not page.extra.hide_reading_time %}
            {% set previous = config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if previous or page.date %}
                &#183; {{ page.reading_time }} min
            {% else %}
                {{ page.reading_time }} min
            {% endif %}
        {% endif %}
        {% if page.taxonomies.tags %}
            <div class="tag-container">
                Tags :&nbsp;
                {% for tag in page.taxonomies.tags %}
                    <span class="tag">
                        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                            {{ tag }}
                        </a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {% if page.taxonomies.authors %}
            <div class="tag-container">
                Authors :&nbsp;
                {% for author in page.taxonomies.authors %}
                    <span class="tag">
                        <a href="{{ get_taxonomy_url(kind='authors', name=author) }}">
                            {{ author }}
                        </a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        <hr/>
    {% endif %}
    {{ page.content | safe }}
{% endblock content %}
